body {
  border: 0px;
  padding: 0px;
  /* padding-top: 20px; */
}
.member-hub-main-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  /* justify-content: center; */
  align-items: center;
  background-image: url("https://tse4.mm.bing.net/th?id=OIP.Zi88haZnUPSx7LfwcY5iuAHaEo&pid=Api&P=0&h=180");

  overflow-y: scroll;
}
/* .nav-container{

} */
.member-ul-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  width: 100%;
}

@media (max-width: 767px) {
  /* For small and medium devices */
  .member-ul-container {
    flex-direction: column;
  }
}

.member-li-container {
  margin: 20px;
  height: 40px;
  width: 130px;
  background-color: rgb(236, 235, 234);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.anchor-link {
  text-decoration: none;
  font-size: 15px;
  font-family: "Roboto";
  font-weight: 300;
  color: #000000;
}
